<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAVV</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/Screenshot (165)-modified.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>

<body>
    <header>
        <nav class="nav1">
            <div class="nav1div"> 
                <div class="nav1div1">
                    <img src="/images/Screenshot (165)-modified.png">
                    <div>MAVV</div>
                </div>
                <div class="nav1div2">
                    <div>
                        <a href="/">Home</a>
                    </div>
                    <div>
                        <a href="/contact.html">Contact Us</a>
                    </div>
                    <div>
                        <a href="/Why_LifeBook.html">Why MAVV?</a>
                    </div>
                    <div>
                        <a href="/login"><button>Login</button></a>
                    </div>
                    <div>
                        <a href="/signup"><button>Sign Up</button></a>
                    </div>
                    <div>
                        <i class="fa fa-bars" style="color: #13346c;" onclick="show()"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <header id="appear">
        <nav class="navbar1">
            <div class="navbar1div">
                <div class="navbar1div1">
                    <i class="fa-solid fa-arrow-right" style="color: #13346c;" onclick="hide()"></i>
                </div>
                <div class="navbar1div2">
                    <div>
                        <a href="/">Home</a>
                    </div>
                    <div>
                        <a href="/contact.html">Contact Us</a>
                    </div>
                    <div>
                        <a href="/Why_LifeBook.html">Why MAVV?</a>
                    </div>
                    <div>
                        <a href="/Login.html"><button>Login</button></a>
                    </div>
                    <div>
                        <a href="/SignUp.html"><button>Sign Up</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="section1">
                <div class="section1div">
                    <div class="section1div1">
                        <div>MAVV</div>
                        <div>Universal Patient ID: Unleashing health data</div>
                        <div>Join us on a transformative journey in healthcare. Our objective is simple: to transform medicine management via innovation and devotion. Discover the future of healthcare, where accuracy meets efficiency and patient care takes first.</div>
                        <div>
                            <a href="/SignUp.html"><button>Sign Up</button></a>
                            <a href="/Login.html"><button>Login</button></a>
                        </div>
                    </div>
                    <div class="section1div2">
                        <img src="/images/Opera Snapshot_2024-02-01_150339_dribbble.com.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="section3">
                <div class="section3div">
                    <div class="section3div1">
                        <div>
                            <img src="/images/Opera Snapshot_2024-01-31_224359_dribbble.com.png">
                        </div>
                        <div style="margin: 46px;">
                            <div>ONBOARDING</div>
                            <div>Seamless and easy</div>
                            <div>Ensures an intuitive design with easy navigation. Users would effortlessly find their way around the platform. Enables users to upload medical records and prescriptions in various formats (PDFs, images, etc.) swiftly.</div>
                        </div>
                    </div>
                    <div class="section3div2">
                        <div style="margin: 46px;">
                            <div>RECORD COLLECTION</div>
                            <div>Value-added services</div>
                            <div>Provides options to categorize and label records for easy retrieval.Implement high-level security protocols to ensure data privacy. Enable users to share selected records with their healthcare providers securely.</div>
                        </div>
                        <div>
                            <img src="/images/Opera Snapshot_2024-01-31_224451_dribbble.com.png">
                        </div>
                    </div>
                    <div class="section3div3">
                        <div>
                            <img src="/images/Opera Snapshot_2024-01-31_224525_dribbble.com.png">
                        </div>
                        <div style="margin: 46px;">
                            <div>PATIENT EXPERIENCE</div>
                            <div>Better your offering</div>
                            <div>Highlights that records can be accessed anytime, anywhere with an internet connection. Includes information about automated reminders for medication or upcoming appointments.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="section4">
                <div class="section4div">
                    <div class="section4div1">
                        <div>Record collection <br> Value-added services</div>
                        <div>Providing a secure platform for users to upload and store their medical records and prescriptions. Implement encryption and robust access controls to ensure privacy. Allowing users to share specific records with authorized healthcare professionals.</div>
                        <div>
                            <a href="/SignUp.html"><button>Sign Up</button></a>
                        </div>
                    </div>
                    <div class="section4div2">
                        <img src="/images/Opera Snapshot_2024-02-01_101825_dribbble.com.png">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="div1">
                <div class="div2">
                    <div class="div3">
                        MAVV is a patient onboarding and personal health record aggregation solution that provides
                        clinics with a world-class, seamless experience for thier patients.
                    </div>
                    <div class="div4">
                        See how we support researchers to learn more about MAVV's transformation benifits
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="section5">
                <div class="section5div">
                    <div class="section5div1">
                        <div>
                            <img src="/images/Opera Snapshot_2024-02-01_172304_dribbble.com.png">
                        </div>
                        <div>
                            Patient healthcare information is usually housed in disparate, disconnected electronic
                            medical records systems. Using MAVV, a patient can both easily access and
                            send his or her medical information securely between providers. This reduces repeat medical
                            tests, reducing costs, and helps your provider make the best clinical decision given your
                            past medical history. MAVV is cloud-based, giving you the patient the ability to login
                            to your MAVV account anywhere in the world to access and/or retrieve your medical
                            information.
                            MAVV's platform also provides Insight into clinical trials and studies that
                            may impact your health. Your doctor can easily explain your eligibility and help you decide
                            if participation in the study is right for you.
                        </div>
                    </div>
                    <div class="section5div2">
                        <div>
                            MAVV's platform allows clinicians to get a real time snapshot of a patient's
                            medical information. Al clinical encounters, diagnostic imaging, and laboratory tests are
                            conglomerated to form LifeBook, a unified patient health record, Clinicians can set alerts
                            for specific events, Ike hospital readmission, and stay up-to-date on patents' current
                            medical statuses.
                            Use MedBlob's LifeBookTm to track and report outcomes to meet mandates of the affordable
                            care act while increasing revenue through active care management of patients with chronic
                            conditions. CPT code 99490 reimburses providers who deliver 20+ minutes of non face-to-face
                            chronic care coordination to eligible Medicare beneficiaries with 2 or more chrome
                            conditions.MedBlob's LrfeBookT. can help your practice step Into the 21st century in digital
                            practice management by offering never before available digital healthcare information
                            exchange and storage.
                        </div>
                        <div>
                            <img src="/images/Opera Snapshot_2024-02-01_172434_dribbble.com.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer1">
            <div class="footer1div">
                <div class="footer1div1">
                    <div>
                        <div><img src="/images/Screenshot (165)-modified.png"></div>
                        <div>MAVV</div>
                    </div>
                    <div class="footer1div1_2">
                        <div><i class="fa-brands fa-github"></i></div>
                        <div>
                            <a href="https://www.instagram.com/mavv_dce?igsh=MTl2b21kZDdpZjQ1Nw=="><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <div>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
                <div class="footer1div2">
                    <div><a href="/">Home</a></div>
                    <div><a href="/contact.html">Contact Us</a></div>
                    <div><a href="/Why_LifeBook.html">Why MAVV?</a></div>
                </div>
                <div class="footer1div3">
                    <div><a href="/Login.html"><button>Login</button></a></div>
                    <div><a href="/SignUp.html"><button>Sign Up</button></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function show() {
            let app = document.getElementById('appear');
            app.style.display = "block";
        }
        function hide() {
            let app = document.getElementById('appear');
            app.style.display = "none";
        }
    </script>
</body>

</html>